Repository haqq-network/frontend, pull requests merged in 2023-09, with the labels that each got.

#343 fix(islamic-website): privacy policy page markup
  apps/islamic-website/app/privacy-policy/page.tsx
  apps/islamic-website/components/burger-menu/burger-menu.tsx
  apps/islamic-website/components/footer/footer.tsx
  apps/islamic-website/components/header/header.tsx
  apps/islamic-website/utils/get-markdown-content.ts
  apps/islamic-website/utils/get-privacy-policy-content.ts
  libs/islamic-website/privacy-policy-page/.babelrc
  libs/islamic-website/privacy-policy-page/.eslintrc.json
  libs/islamic-website/privacy-policy-page/README.md
  libs/islamic-website/privacy-policy-page/jest.config.ts
  libs/islamic-website/privacy-policy-page/project.json
  libs/islamic-website/privacy-policy-page/src/index.ts
  libs/islamic-website/privacy-policy-page/src/lib/privacy-policy-page/privacy-policy-page.tsx
  libs/islamic-website/privacy-policy-page/tsconfig.json
  libs/islamic-website/privacy-policy-page/tsconfig.lib.json
  libs/islamic-website/privacy-policy-page/tsconfig.spec.json
  libs/islamic-website/ui-kit/src/lib/markdown-text/markdown-text.tsx
  nx.json
  tsconfig.base.json
Labels: enhancement, islamic-website

#346 fix(haqq-website): add privacy policy
  apps/haqq-website/components/burger-menu/burger-menu.tsx
  apps/haqq-website/components/footer/footer.tsx
  apps/haqq-website/public/assets/docs/HAQQ-network-privacy-policy.pdf
Labels: haqq-website

#337 feat: subscribe to news thru falconer service
  .env.example
  apps/haqq-website/pages/api/sendgrid.ts
  apps/islamic-website/app/api/subscribe/route.ts
  apps/islamic-website/app/layout.tsx
  apps/islamic-website/app/news/page.tsx
  apps/islamic-website/app/roadmap/page.tsx
  apps/islamic-website/constants.ts
  libs/islamic-website/forms/src/lib/hooked-form-input/hooked-form-input.tsx
  libs/islamic-website/forms/src/lib/subscribe-form/subscribe-form.tsx
  libs/islamic-website/news-page/src/lib/news-page/news-page.tsx
  libs/islamic-website/roadmap-page/src/lib/roadmap-page/roadmap-page.tsx
  libs/islamic-website/ui-kit/src/lib/button/button.tsx
  libs/islamic-website/ui-kit/src/lib/input/input.tsx
  package.json
  yarn.lock
Labels: haqq-website, islamic-website, improvment

#342 feat: event registration
  .env.example
  apps/haqq-website/app/(main)/events/scan/page.tsx
  apps/haqq-website/app/(main)/events/sign-up/page.tsx
  apps/haqq-website/app/api/events/all/route.ts
  apps/haqq-website/app/api/events/constants.ts
  apps/haqq-website/app/api/events/get-tickets/route.ts
  apps/haqq-website/app/api/events/sign-up/route.ts
  apps/haqq-website/app/api/events/verify/route.ts
  apps/haqq-website/constants.ts
  apps/haqq-website/index.d.ts
  apps/haqq-website/public/robots.txt
  libs/haqq-website/events/.eslintrc.json
  libs/haqq-website/events/README.md
  libs/haqq-website/events/jest.config.ts
  libs/haqq-website/events/project.json
  libs/haqq-website/events/src/assets/lines.svg
  libs/haqq-website/events/src/assets/sunshine.png
  libs/haqq-website/events/src/assets/title-block-lines-small.svg
  libs/haqq-website/events/src/assets/title-block-lines.svg
  libs/haqq-website/events/src/components/apply-block/apply-block.tsx
  libs/haqq-website/events/src/components/connect-buttons/connect-buttons.tsx
  libs/haqq-website/events/src/components/registration-page/registration-page.tsx
  libs/haqq-website/events/src/components/scan-block/scan-block.tsx
  libs/haqq-website/events/src/components/scan-page/scan-page.tsx
  libs/haqq-website/events/src/components/select-wallet-modal-wrapper.tsx
  libs/haqq-website/events/src/components/ticket-request/ticket-request.tsx
  libs/haqq-website/events/src/index.ts
  libs/haqq-website/events/src/server.ts
  libs/haqq-website/events/tsconfig.json
  libs/haqq-website/events/tsconfig.lib.json
  libs/haqq-website/events/tsconfig.spec.json
  libs/haqq-website/forms/src/index.ts
  libs/haqq-website/forms/src/lib/qr-registration-form/qr-registration-form.tsx
  libs/haqq-website/ui-kit/src/lib/button/button.tsx
  libs/shared/src/components/theme-button.tsx
  libs/shared/src/hooks/use-debounced-effect/use-debounced-effect.ts
  libs/shared/src/hooks/use-qr-registration-actions/use-qr-registration-actions.tsx
  libs/shared/src/hooks/use-theme/use-theme.ts
  libs/shared/src/index.ts
  libs/shared/src/providers/cosmos-provider.tsx
  libs/shared/src/providers/theme-provider.tsx
  libs/shared/src/providers/website-providers.tsx
  package.json
  tsconfig.base.json
  yarn.lock
Labels: enhancement, haqq-website

#349 feat(haqq-website): privacy policy page
  apps/haqq-website/app/(main)/privacy-policy/page.tsx
  apps/haqq-website/components/burger-menu/burger-menu.tsx
  apps/haqq-website/components/footer/footer.tsx
  apps/haqq-website/next.config.js
  apps/haqq-website/utils/get-privacy-policy.ts
  libs/haqq-website/privacy-policy-page/.babelrc
  libs/haqq-website/privacy-policy-page/.eslintrc.json
  libs/haqq-website/privacy-policy-page/README.md
  libs/haqq-website/privacy-policy-page/jest.config.ts
  libs/haqq-website/privacy-policy-page/project.json
  libs/haqq-website/privacy-policy-page/src/index.ts
  libs/haqq-website/privacy-policy-page/src/lib/privacy-policy-page.tsx
  libs/haqq-website/privacy-policy-page/tsconfig.json
  libs/haqq-website/privacy-policy-page/tsconfig.lib.json
  libs/haqq-website/privacy-policy-page/tsconfig.spec.json
  tsconfig.base.json
Labels: haqq-website

#358 fix(islamic-website, haqq-website): correctly get client ip inside vercel edge functions
  apps/haqq-website/app/api/events/all/route.ts
  apps/haqq-website/app/api/events/constants.ts
  apps/haqq-website/app/api/events/get-tickets/route.ts
  apps/haqq-website/app/api/events/sign-up/route.ts
  apps/haqq-website/app/api/events/verify/route.ts
  apps/haqq-website/app/api/feedback/route.ts
  apps/haqq-website/app/api/subscribe/route.ts
  apps/islamic-website/app/api/subscribe/route.ts
  libs/haqq-website/events/src/components/apply-block/apply-block.tsx
  libs/haqq-website/ui-kit/src/lib/textarea/textarea.tsx
  package.json
  yarn.lock
Labels: bug, haqq-website, islamic-website

#377 fix(haqq-website): fix mainnet accounts number
  apps/haqq-website/utils/get-chain-stats.ts
Labels: bug, automerge, haqq-website

#379 fix(islamic-website): update fetch params to get correct mainnet accounts count
  apps/islamic-website/utils/get-mainnet-accounts-data.ts
Labels: bug, automerge, islamic-website

#380 feat(governance): get actual vote results
  libs/governance/proposal-details/src/components/proposal-details/proposal-details.tsx
  libs/governance/proposal-list/src/components/proposal-list-card/proposal-list-card.tsx
  libs/governance/proposal-list/src/components/proposal-list/proposal-list.tsx
  libs/shared/src/hooks/use-proposal-queries/use-proposal-queries.ts
  libs/shared/src/providers/cosmos-provider.tsx
  libs/shell/index-page/src/lib/proposal-list-block/proposal-list-block.tsx
  libs/shell/ui-kit/src/components/proposal-vote-progress/proposal-vote-progress.tsx
Labels: enhancement, governance

#383 fix(shell-app): fix links to proposal details page
  libs/shell/index-page/src/lib/proposal-list-block/proposal-list-block.tsx
Labels: bug, automerge, shell

#382 feat(governance): proposal quorum/turnout
  apps/faucet/tailwind.config.js
  apps/governance/tailwind.config.js
  apps/shell/tailwind.config.js
  apps/staking/tailwind.config.js
  libs/governance/proposal-details/src/components/metadata/metadata.tsx
  libs/governance/proposal-details/src/components/proposal-details/proposal-details.tsx
  libs/haqq-website/ui-kit/tailwind.config.js
  libs/shared/src/hooks/use-proposal-queries/use-proposal-queries.ts
  libs/shell/ui-kit/src/components/proposal-vote-progress/proposal-vote-progress.tsx
  libs/shell/ui-kit/src/utils/format-number.ts
  libs/shell/ui-kit/tailwind.config.js
  libs/storybook-host/tailwind.config.js
Labels: governance, improvment

#386 feat(governance): add quorum/threshold values to mobiles
  libs/governance/proposal-details/src/components/proposal-details/proposal-details.tsx
Labels: enhancement, automerge, governance

#389 chore(governance): rename threshold to turnout
  libs/governance/proposal-details/src/components/proposal-details/proposal-details.tsx
Labels: bug, automerge, governance

#392 fix(islamic-website): value page img
  libs/islamic-website/values-page/src/lib/values-page/values-page.tsx
Labels: automerge

#393 fix(islamic-website): correct fetch whitepaper data
  apps/islamic-website/utils/get-whitepaper-content.ts
Labels: bug, automerge, islamic-website

#378 fix(shell, gov, staking): add explorer link to success toast
  libs/governance/proposal-details/src/components/proposal-details/proposal-details.tsx
  libs/shared/src/index.ts
  libs/shared/src/providers/app-providers.tsx
  libs/shared/src/providers/toaster.tsx
  libs/shell/authz-page/src/lib/authz-page/authz-page.tsx
  libs/shell/ui-kit/src/components/icons/icons.tsx
  libs/shell/ui-kit/src/components/toasts/toast-base.tsx
  libs/shell/ui-kit/src/components/toasts/toast-error.tsx
  libs/shell/ui-kit/src/components/toasts/toast-loading.tsx
  libs/shell/ui-kit/src/components/toasts/toast-success.tsx
  libs/shell/ui-kit/src/index.ts
  libs/staking/validator-details-page/src/components/delegate-modal/delegate-modal.tsx
  libs/staking/validator-details-page/src/components/redelegate-modal/redelegate-modal.tsx
  libs/staking/validator-details-page/src/components/undelegate-modal/undelegate-modal.tsx
  libs/staking/validator-details-page/src/components/validator-info/validator-info.tsx
  libs/staking/validator-list-page/src/components/staking-info/staking-info.tsx
Labels: enhancement, automerge, staking, governance, shell

#396 fix(islamic-website): add privacy policy link to subscribe form
  libs/islamic-website/forms/src/lib/subscribe-form/subscribe-form.tsx
  libs/islamic-website/news-page/src/lib/news-page/news-page.tsx
  libs/islamic-website/roadmap-page/src/lib/roadmap-page/roadmap-page.tsx
Labels: bug, islamic-website

#395 fix(haqq-website): add label to subscribe form
  libs/haqq-website/forms/src/lib/subscribe-form/subscribe-form.tsx
Labels: bug, haqq-website

#391 feat(islamic-website): cookie consent modal
  apps/islamic-website/app/layout.tsx
  apps/islamic-website/components/cookie-consent-modal/cookie-consetnt-modal.tsx
  apps/islamic-website/styles/consent-cookie.css
  package.json
  yarn.lock
Labels: islamic-website

#399 feat(vesting): new vesting accounts
  .env.example
  apps/vesting/src/app/app-container.tsx
  apps/vesting/src/components/AccountDepositStatsWidget/AccountDepositStatsWidget.tsx
  apps/vesting/src/components/AccountWidget/AccountWidget.tsx
  apps/vesting/src/components/DepositNavigation/DepositNavigation.tsx
  apps/vesting/src/components/DepositStatsWidget/DepositStatsWidget.tsx
  apps/vesting/src/components/DepositWithdrawalList/DepositWithdrawalList.tsx
  apps/vesting/src/components/VestingAccountStats.tsx
  apps/vesting/src/environments/environment.prod.ts
  apps/vesting/src/environments/environment.ts
  apps/vesting/src/pages/AccountPage.tsx
  apps/vesting/src/pages/MyAccountPage.tsx
  libs/islamic-website/alerts-pages/.eslintrc.json
  libs/shared/src/hooks/use-account-info/use-account-info.ts
  libs/shared/src/hooks/use-authz-actions/use-authz-actions.tsx
  libs/shared/src/hooks/use-proposal-actions/use-proposal-actions.ts
  libs/shared/src/hooks/use-staking-actions/use-staking-actions.ts
  libs/shared/src/index.ts
  libs/shared/src/providers/cosmos-provider.tsx
  libs/shared/src/types.ts
Labels: vesting, improvment

#401 feat: add spaces delimiters to format input fields
  apps/faucet/index.d.ts
  apps/governance/index.d.ts
  apps/haqq-website/index.d.ts
  apps/shell/index.d.ts
  apps/staking/index.d.ts
  apps/vesting/index.d.ts
  libs/governance/proposal-details/src/components/proposal-deposit-modal/proposal-deposit-modal.stories.tsx
  libs/governance/proposal-details/src/components/proposal-deposit-modal/proposal-deposit-modal.tsx
  libs/shell/ui-kit/index.d.ts
  libs/shell/ui-kit/src/components/modal-input/modal-input.tsx
  libs/shell/ui-kit/src/index.ts
  libs/shell/ui-kit/tsconfig.lib.json
  libs/staking/validator-details-page/src/components/delegate-modal/delegate-modal.tsx
  libs/staking/validator-details-page/src/components/redelegate-modal/redelegate-modal.tsx
  libs/staking/validator-details-page/src/components/undelegate-modal/undelegate-modal.tsx
  package.json
  yarn.lock
Labels: enhancement, staking
