Repository haqq-network/frontend, pull requests merged in 2023-01, with the labels that each got.

#74 fix: issues fixing
  apps/shell/src/index.html
  libs/shared/src/hooks/use-clipboard/use-clipboard.ts
  libs/shared/src/index.ts
  libs/shell/index-page/src/components/account-info/account-info.tsx
  libs/shell/index-page/src/components/chain-stats/chain-stats.tsx
  libs/shell/index-page/src/components/delegation-list/delegation-list.tsx
  libs/shell/index-page/src/components/index-page/index-page.tsx
  libs/shell/index-page/src/components/proposal-list/proposal-list.tsx
  libs/staking/ui-kit/src/components/validator-list-item/validator-list-item.tsx
  libs/staking/ui-kit/src/components/validators-list/validators-list.tsx
  libs/ui-kit/src/lib/badge/badge.tsx
  libs/ui-kit/src/lib/tooltip/tooltip.tsx
  libs/website/ui-kit/src/index.ts
  libs/website/ui-kit/src/lib/icons/index.ts
Labels: staking, governance, ui, shell

#84 fix(website): change screenshot src
  apps/website/assets/images/wallet-iphone-screenshot.png
Labels: website

#86 fix(website): correct of spelling errors
  apps/website/pages/wallet.tsx
Labels: website

#88 fix(vesting): format dates and numeric values consistently
  apps/vesting/src/components/DepositStatsWidget/DepositStatsWidget.tsx
Labels: bug, vesting
