Repository haqq-network/frontend, pull requests merged in 2023-08, with the labels that each got.

#270 feat(islamic-website): mission page mobile layout
  apps/islamic-website/app/layout.tsx
  apps/islamic-website/app/mission/page.tsx
  apps/islamic-website/components/burger-menu/burger-menu.tsx
  apps/islamic-website/components/header/header.tsx
  apps/islamic-website/tailwind.config.js
  libs/islamic-website/mission-page/.babelrc
  libs/islamic-website/mission-page/.eslintrc.json
  libs/islamic-website/mission-page/README.md
  libs/islamic-website/mission-page/jest.config.ts
  libs/islamic-website/mission-page/project.json
  libs/islamic-website/mission-page/src/index.ts
  libs/islamic-website/mission-page/src/lib/assets/images/mission-rock.webp
  libs/islamic-website/mission-page/src/lib/assets/images/mission-star.webp
  libs/islamic-website/mission-page/src/lib/mission-page/mission-page.tsx
  libs/islamic-website/mission-page/tsconfig.json
  libs/islamic-website/mission-page/tsconfig.lib.json
  libs/islamic-website/mission-page/tsconfig.spec.json
  libs/islamic-website/ui-kit/src/lib/dropdown-link/dropdown-link.tsx
  tsconfig.base.json
Labels: islamic-website

#269 feat(islamic-website): partnerships page mobile layout
  apps/islamic-website/app/partnerships/page.tsx
  apps/islamic-website/components/burger-menu/burger-menu.tsx
  apps/islamic-website/components/header/header.tsx
  libs/islamic-website/partnership-page/.babelrc
  libs/islamic-website/partnership-page/.eslintrc.json
  libs/islamic-website/partnership-page/README.md
  libs/islamic-website/partnership-page/jest.config.ts
  libs/islamic-website/partnership-page/project.json
  libs/islamic-website/partnership-page/src/assets/images/partnership-cube.webp
  libs/islamic-website/partnership-page/src/index.ts
  libs/islamic-website/partnership-page/src/lib/partnership-page/partnership-page.tsx
  libs/islamic-website/partnership-page/tsconfig.json
  libs/islamic-website/partnership-page/tsconfig.lib.json
  libs/islamic-website/partnership-page/tsconfig.spec.json
  tsconfig.base.json
Labels: islamic-website

#268 fix(islamic-website): main & sharia page fixes
  apps/islamic-website/components/header/header.tsx
  libs/islamic-website/index-page/src/lib/advisory-block/advisory-block.tsx
  libs/islamic-website/shariah-page/src/assets/images/fatwa-stars.webp
  libs/islamic-website/shariah-page/src/lib/fatwa-block/fatwa-block.tsx
  libs/islamic-website/shariah-page/src/lib/members-container/members-container.tsx
  libs/islamic-website/shariah-page/src/lib/shariah-page/shariah-page.tsx
  libs/islamic-website/ui-kit/src/lib/member-card/member-card.tsx
  libs/islamic-website/ui-kit/src/lib/member-modal-card/member-modal-card.tsx
Labels: islamic-website

#272 feat(islamic-website): career page mobile layout
  apps/islamic-website/app/career/page.tsx
  libs/islamic-website/career-page/.babelrc
  libs/islamic-website/career-page/.eslintrc.json
  libs/islamic-website/career-page/README.md
  libs/islamic-website/career-page/jest.config.ts
  libs/islamic-website/career-page/project.json
  libs/islamic-website/career-page/src/assets/images/career-stars.webp
  libs/islamic-website/career-page/src/index.ts
  libs/islamic-website/career-page/src/lib/career-page/career-page.tsx
  libs/islamic-website/career-page/tsconfig.json
  libs/islamic-website/career-page/tsconfig.lib.json
  libs/islamic-website/career-page/tsconfig.spec.json
  tsconfig.base.json
Labels: islamic-website

#276 feat(islamic-website): whitepaper page mobile & desktop markup
  apps/islamic-website/app/layout.tsx
  apps/islamic-website/app/whitepaper/page.tsx
  libs/islamic-website/index-page/src/assets/images/moon-2x.webp
  libs/islamic-website/index-page/src/assets/images/moon_2x.webp
  libs/islamic-website/index-page/src/lib/index-page/index-page.tsx
  libs/islamic-website/ui-kit/src/index.ts
  libs/islamic-website/ui-kit/src/lib/download-pdf-button/download-pdf-button.tsx
  libs/islamic-website/ui-kit/src/lib/markdown-text/markdown-text.tsx
  libs/islamic-website/whitepaper-page/.babelrc
  libs/islamic-website/whitepaper-page/.eslintrc.json
  libs/islamic-website/whitepaper-page/README.md
  libs/islamic-website/whitepaper-page/jest.config.ts
  libs/islamic-website/whitepaper-page/project.json
  libs/islamic-website/whitepaper-page/src/assets/images/moon-2x.webp
  libs/islamic-website/whitepaper-page/src/index.ts
  libs/islamic-website/whitepaper-page/src/lib/whitepaper-page/whitepaper-page.tsx
  libs/islamic-website/whitepaper-page/tsconfig.json
  libs/islamic-website/whitepaper-page/tsconfig.lib.json
  libs/islamic-website/whitepaper-page/tsconfig.spec.json
  libs/website/whitepaper-page/src/lib/whitepaper-page/whitepaper-page.tsx
  package.json
  tsconfig.base.json
  yarn.lock
Labels: islamic-website

#279 feat(islamic-website): not found page
  apps/islamic-website/app/not-found.tsx
  libs/islamic-website/not-found-page/.babelrc
  libs/islamic-website/not-found-page/.eslintrc.json
  libs/islamic-website/not-found-page/README.md
  libs/islamic-website/not-found-page/jest.config.ts
  libs/islamic-website/not-found-page/project.json
  libs/islamic-website/not-found-page/src/assets/images/not-found-bg.webp
  libs/islamic-website/not-found-page/src/index.ts
  libs/islamic-website/not-found-page/src/lib/not-found-page.tsx/not-found-page.tsx
  libs/islamic-website/not-found-page/tsconfig.json
  libs/islamic-website/not-found-page/tsconfig.lib.json
  libs/islamic-website/not-found-page/tsconfig.spec.json
  tsconfig.base.json
Labels: islamic-website

#274 feat(islamic-website): academy page markup
  apps/islamic-website/app/academy/page.tsx
  apps/islamic-website/app/whitepaper/page.tsx
  apps/islamic-website/styles/global.css
  libs/islamic-website/academy-page/.babelrc
  libs/islamic-website/academy-page/.eslintrc.json
  libs/islamic-website/academy-page/README.md
  libs/islamic-website/academy-page/jest.config.ts
  libs/islamic-website/academy-page/project.json
  libs/islamic-website/academy-page/src/assets/images/academy-half-moon.webp
  libs/islamic-website/academy-page/src/index.ts
  libs/islamic-website/academy-page/src/lib/academy-page/academy-page.tsx
  libs/islamic-website/academy-page/tsconfig.json
  libs/islamic-website/academy-page/tsconfig.lib.json
  libs/islamic-website/academy-page/tsconfig.spec.json
  libs/islamic-website/ui-kit/src/lib/container/container.tsx
  tsconfig.base.json
Labels: islamic-website

#277 feat(islamic-website): add roadmap page markup
  apps/islamic-website/app/roadmap/page.tsx
  libs/islamic-website/roadmap-page/.babelrc
  libs/islamic-website/roadmap-page/.eslintrc.json
  libs/islamic-website/roadmap-page/README.md
  libs/islamic-website/roadmap-page/jest.config.ts
  libs/islamic-website/roadmap-page/project.json
  libs/islamic-website/roadmap-page/src/index.ts
  libs/islamic-website/roadmap-page/src/lib/roadmap-page/roadmap-page.tsx
  libs/islamic-website/roadmap-page/tsconfig.json
  libs/islamic-website/roadmap-page/tsconfig.lib.json
  libs/islamic-website/roadmap-page/tsconfig.spec.json
  libs/islamic-website/team-page/src/lib/team-page/team-page.tsx
  libs/islamic-website/ui-kit/src/lib/input/input.tsx
  tsconfig.base.json
Labels: islamic-website

#287 feat(islamic-website): partnerships page desktop markup
  libs/islamic-website/partnership-page/src/assets/images/partnership-cube.webp
  libs/islamic-website/partnership-page/src/lib/partnership-page/partnership-page.tsx
Labels: refactor, islamic-website

#289 fix(islamic-ui-kit): news card width & hover styles
  libs/islamic-website/ui-kit/src/lib/news-card/news-card.tsx
Labels: bug, islamic-website

#290 fix(islamic-website): news page styles
  libs/islamic-website/news-page/src/lib/news-page/news-page.tsx
Labels: bug, islamic-website

#291 fix(islamic-website): index page markup fixes
  libs/islamic-website/index-page/src/lib/advisory-block/advisory-block.tsx
  libs/islamic-website/index-page/src/lib/finance-block/finance-block.tsx
  libs/islamic-website/index-page/src/lib/hero-block/hero-block.tsx
  libs/islamic-website/index-page/src/lib/index-page/index-page.tsx
  libs/islamic-website/index-page/src/lib/learn-and-grow-block/learn-and-grow-block.tsx
  libs/islamic-website/index-page/src/lib/news-block/news-block.tsx
  libs/islamic-website/index-page/src/lib/portfolio-block/portfolio-block.tsx
  libs/islamic-website/ui-kit/src/lib/member-card/member-card.tsx
  libs/islamic-website/ui-kit/src/lib/members-container/members-container.tsx
  libs/islamic-website/ui-kit/src/lib/news-card/news-card.tsx
Labels: bug, islamic-website

#294 fix(islamic-website): team page markup fixes
  libs/islamic-website/team-page/src/lib/team-page/team-page.tsx
Labels: bug, islamic-website

#293 fix(islamic-website): career page markup fixes
  libs/islamic-website/career-page/src/lib/career-page/career-page.tsx
Labels: bug, islamic-website

#297 fix(islamic-website): academy page markup fixes
  apps/islamic-website/public/assets/video/academy-anim.webm
  libs/islamic-website/academy-page/src/lib/academy-animated-background/academy-animated-background.tsx
  libs/islamic-website/academy-page/src/lib/academy-page/academy-page.tsx
Labels: bug, islamic-website

#295 fix(islamic-website): wallet page markup fixes
  libs/islamic-website/wallet-page/src/lib/wallet-page/wallet-page.tsx
Labels: bug, islamic-website

#296 fix(islamic-website): index & value page markup fixes
  libs/islamic-website/index-page/src/lib/finance-block/finance-block.tsx
  libs/islamic-website/ui-kit/src/lib/news-card/news-card.tsx
  libs/islamic-website/values-page/src/lib/values-page/values-page.tsx
Labels: bug, islamic-website

#299 feat: islamic website header
  apps/islamic-website/app/layout.tsx
  apps/islamic-website/components/burger-menu/burger-menu.tsx
  apps/islamic-website/components/header/header.tsx
  libs/islamic-website/index-page/src/lib/finance-block/finance-block.tsx
  libs/islamic-website/index-page/src/lib/hero-block/hero-block.tsx
  libs/islamic-website/index-page/src/lib/index-page/index-page.tsx
  libs/islamic-website/index-page/src/lib/why-block/why-block.tsx
  libs/islamic-website/ui-kit/src/lib/burger-button/burger-button.stories.tsx
  libs/islamic-website/ui-kit/src/lib/burger-button/burger-button.tsx
  libs/islamic-website/ui-kit/src/lib/dropdown-link/dropdown-link.tsx
Labels: bug, enhancement, islamic-website

#300 feat(islamic-website): build page mobile & desktop markup
  apps/islamic-website/app/build/page.tsx
  libs/islamic-website/build-page/.babelrc
  libs/islamic-website/build-page/.eslintrc.json
  libs/islamic-website/build-page/README.md
  libs/islamic-website/build-page/jest.config.ts
  libs/islamic-website/build-page/project.json
  libs/islamic-website/build-page/src/index.ts
  libs/islamic-website/build-page/src/lib/build-page/build-page.tsx
  libs/islamic-website/build-page/tsconfig.json
  libs/islamic-website/build-page/tsconfig.lib.json
  libs/islamic-website/build-page/tsconfig.spec.json
  tsconfig.base.json
Labels: enhancement, islamic-website

#302 fix(islamic-website): get news page data from storyblok
  apps/islamic-website/app/news/page.tsx
  apps/islamic-website/app/page.tsx
  apps/islamic-website/app/whitepaper/page.tsx
  apps/islamic-website/next.config.js
  libs/islamic-website/index-page/src/lib/index-page/index-page.tsx
  libs/islamic-website/index-page/src/lib/news-block/news-block.tsx
  libs/islamic-website/news-page/src/lib/posts-block/posts-block.tsx
  libs/islamic-website/ui-kit/src/lib/news-card/news-card.tsx
Labels: islamic-website, improvment

#303 fix(islamic-website): get members data from storyblok
  apps/islamic-website/app/page.tsx
  libs/islamic-website/index-page/src/lib/advisory-block/advisory-block.tsx
  libs/islamic-website/index-page/src/lib/index-page/index-page.tsx
  libs/islamic-website/ui-kit/src/lib/member-card/member-card.tsx
Labels: islamic-website, improvment

#304 fix(islamic-website): sharia page member data fetching & markup
  apps/islamic-website/app/shariah/page.tsx
  apps/islamic-website/app/whitepaper/page.tsx
  libs/islamic-website/shariah-page/src/lib/shariah-page/shariah-page.tsx
Labels: islamic-website

#288 fix(islamic-website): sharia page markup fixes
  apps/islamic-website/app/layout.tsx
  apps/islamic-website/app/shariah/page.tsx
  apps/islamic-website/app/whitepaper/page.tsx
  apps/islamic-website/components/header/header.tsx
  libs/islamic-website/index-page/src/lib/advisory-block/advisory-block.tsx
  libs/islamic-website/index-page/src/lib/index-page/index-page.tsx
  libs/islamic-website/index-page/src/lib/news-block/news-block.tsx
  libs/islamic-website/index-page/tsconfig.lib.json
  libs/islamic-website/mission-page/tsconfig.lib.json
  libs/islamic-website/news-page/src/lib/news-page/news-page.tsx
  libs/islamic-website/news-page/src/lib/posts-block/posts-block.tsx
  libs/islamic-website/news-page/tsconfig.lib.json
  libs/islamic-website/not-found-page/tsconfig.lib.json
  libs/islamic-website/partnership-page/tsconfig.lib.json
  libs/islamic-website/roadmap-page/tsconfig.lib.json
  libs/islamic-website/shariah-page/src/assets/images/autographs/autograph-al-enezy.webp
  libs/islamic-website/shariah-page/src/assets/images/autographs/autograph-fathiddin-beyanouni.webp
  libs/islamic-website/shariah-page/src/assets/images/autographs/autograph-hakim-mohamed.webp
  libs/islamic-website/shariah-page/src/assets/images/autographs/autograph-mohamed-zoeir.webp
  libs/islamic-website/shariah-page/src/assets/images/autographs/autograph-saleh-yaqubi.webp
  libs/islamic-website/shariah-page/src/assets/images/fatwa-stars.webp
  libs/islamic-website/shariah-page/src/assets/images/mock_member.png
  libs/islamic-website/shariah-page/src/lib/fatwa-block/fatwa-block.tsx
  libs/islamic-website/shariah-page/src/lib/foundations-block/foundations-block.tsx
  libs/islamic-website/shariah-page/src/lib/hero-block/hero-block.tsx
  libs/islamic-website/shariah-page/src/lib/members-container/members-container.tsx
  libs/islamic-website/shariah-page/src/lib/sharia-page-mobile-nav/sharia-page-mobile-nav.tsx
  libs/islamic-website/shariah-page/src/lib/shariah-block/shariah-block.tsx
  libs/islamic-website/shariah-page/src/lib/shariah-page/scrollspy.tsx
  libs/islamic-website/shariah-page/src/lib/shariah-page/shariah-page.tsx
  libs/islamic-website/shariah-page/tsconfig.lib.json
  libs/islamic-website/team-page/src/assets/images/mock_member.png
  libs/islamic-website/team-page/src/assets/images/team-page-bg.svg
  libs/islamic-website/team-page/src/lib/team-page/team-page.tsx
  libs/islamic-website/team-page/tsconfig.lib.json
  libs/islamic-website/ui-kit/src/index.ts
  libs/islamic-website/ui-kit/src/lib/container/container.tsx
  libs/islamic-website/ui-kit/src/lib/member-card/member-card.tsx
  libs/islamic-website/ui-kit/src/lib/member-modal-card/member-modal-card.tsx
  libs/islamic-website/ui-kit/src/lib/select/select.stories.tsx
  libs/islamic-website/ui-kit/src/lib/select/select.tsx
  libs/islamic-website/ui-kit/src/lib/text/text.tsx
  libs/islamic-website/ui-kit/tsconfig.lib.json
  libs/islamic-website/values-page/tsconfig.lib.json
  libs/islamic-website/wallet-page/tsconfig.lib.json
  libs/islamic-website/whitepaper-page/tsconfig.lib.json
  package.json
  yarn.lock
Labels: bug, islamic-website

#311 fix(islamic-website): correct header styles
  apps/islamic-website/components/header/header.tsx
  libs/islamic-website/ui-kit/src/lib/icons/header-icons/half-moon-and-star-icon.tsx
  libs/islamic-website/ui-kit/src/lib/icons/header-icons/index.ts
Labels: islamic-website

#310 fix(islamic-website): fix advisory board member card height
  libs/islamic-website/index-page/src/lib/advisory-block/advisory-block.module.css
  libs/islamic-website/index-page/src/lib/advisory-block/advisory-block.tsx
Labels: bug

#308 fix(islamic-website): partnership page tablet markup
  libs/islamic-website/partnership-page/src/lib/partnership-page/partnership-page.tsx
Labels: islamic-website

#305 fix(islamic-website): mission page tablet markup
  libs/islamic-website/mission-page/src/lib/mission-page/mission-page.tsx
Labels: islamic-website

#313 fix(islamic-website): docs tab icon size & gap
  libs/islamic-website/build-page/src/lib/build-page/build-page.tsx
Labels: islamic-website

#314 fix(islamic-website): burger menu mobile style fix
  apps/islamic-website/components/burger-menu/burger-menu.tsx
Labels: islamic-website

#317 fix(islamic-ui-kit): proper input styles
  libs/islamic-website/ui-kit/src/lib/input/input.tsx
Labels: islamic-website

#319 fix(islamic-website): roadmap page tablet markup
  libs/islamic-website/roadmap-page/src/lib/roadmap-page/roadmap-page.tsx
  libs/islamic-website/ui-kit/src/lib/markdown-text/markdown-text.tsx
Labels: islamic-website

#316 fix(islamic-website): add founders up-to-date information & assets
  apps/islamic-website/public/assets/images/founders/alex-malkov.png
  apps/islamic-website/public/assets/images/founders/andrey-kuznetsov.png
  apps/islamic-website/public/assets/images/founders/hussein-al-meeza.png
  apps/islamic-website/public/assets/images/founders/mohammed-alkaff-alhashmi.png
  libs/islamic-website/team-page/src/assets/images/mock_member.png
  libs/islamic-website/team-page/src/lib/team-page/team-page.tsx
Labels: islamic-website

#320 fix(islamic-website): mobile markup issues & tablet markup
  libs/islamic-website/not-found-page/src/lib/not-found-page.tsx/not-found-page.tsx
Labels: islamic-website

#307 fix(islamic-website): roadmap page tablet markup
  libs/islamic-website/roadmap-page/src/lib/roadmap-page/roadmap-page.tsx
Labels: islamic-website

#301 fix(staking): balance and delegation min values, correctly format values
  libs/staking/ui-kit/src/components/validator-list-item/validator-list-item.tsx
  libs/staking/ui-kit/src/components/validators-list/validators-list.tsx
  libs/staking/validator-details-page/src/components/validator-info/validator-info.tsx
Labels: staking

#323 fix(islamic-website): download apk button in wallet page
  libs/islamic-website/ui-kit/src/lib/icons/android-logo-icon.tsx
  libs/islamic-website/ui-kit/src/lib/icons/index.ts
  libs/islamic-website/ui-kit/src/lib/wallet-download-button/wallet-download-button.tsx
  libs/islamic-website/wallet-page/src/lib/wallet-page/wallet-page.tsx
Labels: islamic-website

#324 chore(islamic-website): update photo asset
  apps/islamic-website/public/assets/images/founders/andrey-kuznetsov.png
Labels: islamic-website

#325 feat(islamic-website): fraud alert page markup
  apps/islamic-website/app/fraud-alert/page.tsx
  apps/islamic-website/components/burger-menu/burger-menu.tsx
  apps/islamic-website/components/header/header.tsx
  libs/islamic-website/fraud-page/.babelrc
  libs/islamic-website/fraud-page/.eslintrc.json
  libs/islamic-website/fraud-page/README.md
  libs/islamic-website/fraud-page/jest.config.ts
  libs/islamic-website/fraud-page/project.json
  libs/islamic-website/fraud-page/src/assets/images/fraud-cubes.webp
  libs/islamic-website/fraud-page/src/index.ts
  libs/islamic-website/fraud-page/src/lib/fraud-page/fraud-page.tsx
  libs/islamic-website/fraud-page/tsconfig.json
  libs/islamic-website/fraud-page/tsconfig.lib.json
  libs/islamic-website/fraud-page/tsconfig.spec.json
  tsconfig.base.json
Labels: enhancement, islamic-website

#327 feat(islamic-website): community hub page markup
  apps/islamic-website/app/community-hub/page.tsx
  apps/islamic-website/components/header/header.tsx
  libs/islamic-website/community-hub-page/.babelrc
  libs/islamic-website/community-hub-page/.eslintrc.json
  libs/islamic-website/community-hub-page/README.md
  libs/islamic-website/community-hub-page/jest.config.ts
  libs/islamic-website/community-hub-page/project.json
  libs/islamic-website/community-hub-page/src/assets/images/bg-image.svg
  libs/islamic-website/community-hub-page/src/index.ts
  libs/islamic-website/community-hub-page/src/lib/community-hub-page/community-hub-page.tsx
  libs/islamic-website/community-hub-page/tsconfig.json
  libs/islamic-website/community-hub-page/tsconfig.lib.json
  libs/islamic-website/community-hub-page/tsconfig.spec.json
  tsconfig.base.json
Labels: islamic-website

#328 feat(islamic-website): available soon page markup
  apps/islamic-website/app/academy/page.tsx
  libs/islamic-website/academy-page/src/assets/images/available-soon-bg.webp
  libs/islamic-website/academy-page/src/index.ts
  libs/islamic-website/academy-page/src/lib/available-soon-page/available-soon-page.tsx
Labels: enhancement, islamic-website

#322 fix(islamic-website): add pages metadata, add favicon, lix links
  apps/islamic-website/app/academy/page.tsx
  apps/islamic-website/app/api/hello/route.ts
  apps/islamic-website/app/build/page.tsx
  apps/islamic-website/app/career/page.tsx
  apps/islamic-website/app/community-hub/page.tsx
  apps/islamic-website/app/fraud-alert/page.tsx
  apps/islamic-website/app/mission/page.tsx
  apps/islamic-website/app/news/page.tsx
  apps/islamic-website/app/not-found.tsx
  apps/islamic-website/app/page.tsx
  apps/islamic-website/app/partnerships/page.tsx
  apps/islamic-website/app/roadmap/page.tsx
  apps/islamic-website/app/shariah/page.tsx
  apps/islamic-website/app/team/page.tsx
  apps/islamic-website/app/values/page.tsx
  apps/islamic-website/app/wallet/page.tsx
  apps/islamic-website/app/whitepaper/page.tsx
  apps/islamic-website/components/burger-menu/burger-menu.tsx
  apps/islamic-website/components/footer/footer.tsx
  apps/islamic-website/components/header/header.tsx
  apps/islamic-website/constants.ts
  apps/islamic-website/public/favicon.ico
  apps/islamic-website/public/opengraph-image.png
  apps/islamic-website/utils/get-members-data.ts
  apps/islamic-website/utils/get-news-data.ts
  apps/islamic-website/utils/get-roadmap-data.ts
  apps/islamic-website/utils/get-whitepaper-content.ts
  libs/islamic-website/index-page/src/lib/hero-block/hero-block.tsx
  libs/islamic-website/index-page/src/lib/learn-and-grow-block/learn-and-grow-block.tsx
  libs/islamic-website/shariah-page/src/lib/shariah-page/shariah-page.tsx
  libs/islamic-website/ui-kit/src/lib/dropdown-link/dropdown-link.tsx
  libs/islamic-website/ui-kit/src/lib/markdown-text/markdown-text.tsx
  libs/islamic-website/whitepaper-page/src/lib/whitepaper-page/whitepaper-page.tsx
Labels: islamic-website

#331 fix(islamic-website): header links order & main page button link
  apps/islamic-website/components/header/header.tsx
  libs/islamic-website/index-page/src/lib/join-community-block/join-community-block.tsx
Labels: bug, islamic-website

#332 fix(islamic-website): main & wp page bg
  apps/islamic-website/components/burger-menu/burger-menu.tsx
  apps/islamic-website/public/assets/images/moon-2x.webp
  libs/islamic-website/index-page/src/assets/images/mock_member.png
  libs/islamic-website/index-page/src/lib/index-page/index-page.tsx
  libs/islamic-website/whitepaper-page/src/assets/images/moon-2x.webp
  libs/islamic-website/whitepaper-page/src/lib/whitepaper-page/whitepaper-page.tsx
Labels: bug, islamic-website
