Repository haqq-network/frontend, pull requests merged in 2023-10, with the labels that each got.

#413 fix(islamic-website): correct emails
  libs/islamic-website/alerts-pages/src/lib/contact-us-page/contact-us-page.tsx
Labels: bug, islamic-website

#414 fix(islamic-website): small markup changes
  apps/islamic-website/app/page.tsx
  apps/islamic-website/components/footer/footer.tsx
  apps/islamic-website/utils/get-news-data.ts
  libs/islamic-website/index-page/src/lib/index-page/index-page.tsx
  libs/islamic-website/index-page/src/lib/news-block/news-block.tsx
  libs/islamic-website/news-page/src/lib/news-page/news-page.tsx
  libs/islamic-website/ui-kit/src/lib/news-card/news-card.tsx
Labels: bug, islamic-website

#417 fix(islamic-website): more optimizations
  apps/islamic-website/app/layout.tsx
  apps/islamic-website/app/page.tsx
  apps/islamic-website/utils/get-index-page-data.ts
  apps/islamic-website/utils/get-members-data.ts
  apps/islamic-website/utils/get-news-data.ts
Labels: bug, islamic-website

#419 fix(islamic-website): marketing requested changes
  apps/islamic-website/app/page.tsx
  apps/islamic-website/public/assets/images/founders/alex-malkov.png
  apps/islamic-website/public/assets/images/founders/andrey-kuznetsov.png
  apps/islamic-website/public/assets/images/founders/hussein-al-meeza.png
  apps/islamic-website/public/assets/images/founders/mohammed-alkaff-alhashmi.png
  apps/islamic-website/utils/get-index-page-data.ts
  libs/islamic-website/index-page/src/lib/portfolio-block/portfolio-block.tsx
  libs/islamic-website/index-page/src/lib/why-block/why-block.tsx
  libs/islamic-website/ui-kit/src/lib/animated-numbers/animated-numbers.tsx
  libs/islamic-website/ui-kit/src/lib/member-card/member-card.tsx
  libs/islamic-website/ui-kit/src/lib/member-modal-card/member-modal-card.tsx
  libs/islamic-website/ui-kit/src/lib/members-container/members-container.tsx
  libs/islamic-website/ui-kit/src/lib/modal/modal.tsx
  libs/islamic-website/ui-kit/src/lib/new-member-card/new-member-card.tsx
  libs/islamic-website/ui-kit/src/lib/rating-badge/rating-badge.tsx
  libs/islamic-website/wallet-page/src/lib/wallet-page/wallet-page.tsx
Labels: islamic-website

#423 feat(islamic-website): disclaimer page, member card roles, team assets
  apps/islamic-website/app/dubai-residents-disclaimer/page.tsx
  apps/islamic-website/app/layout.tsx
  apps/islamic-website/components/burger-menu/burger-menu.tsx
  apps/islamic-website/public/assets/images/team/andrei-zolin.png
  apps/islamic-website/public/assets/images/team/bestun-ibrahim.png
  apps/islamic-website/public/assets/images/team/evgenii-abramov.png
  apps/islamic-website/public/assets/images/team/igor-moskalyov.png
  apps/islamic-website/public/assets/images/team/jei-rahman.png
  apps/islamic-website/public/assets/images/team/nargiz-khanjanbayova.png
  apps/islamic-website/public/assets/images/team/sergei-vorobev.png
  apps/islamic-website/public/assets/images/team/shamrose-hamayun.png
  apps/islamic-website/public/assets/images/team/victor-ugochukwu.png
  apps/islamic-website/public/assets/images/team/zain-awan.png
  apps/islamic-website/utils/get-disclaimer-data.ts
  libs/islamic-website/dubai-residents-disclaimer-page/.babelrc
  libs/islamic-website/dubai-residents-disclaimer-page/.eslintrc.json
  libs/islamic-website/dubai-residents-disclaimer-page/README.md
  libs/islamic-website/dubai-residents-disclaimer-page/jest.config.ts
  libs/islamic-website/dubai-residents-disclaimer-page/project.json
  libs/islamic-website/dubai-residents-disclaimer-page/src/index.ts
  libs/islamic-website/dubai-residents-disclaimer-page/src/lib/dubai-residents-disclaimer-page/dubai-residents-disclaimer-page.tsx
  libs/islamic-website/dubai-residents-disclaimer-page/tsconfig.json
  libs/islamic-website/dubai-residents-disclaimer-page/tsconfig.lib.json
  libs/islamic-website/dubai-residents-disclaimer-page/tsconfig.spec.json
  libs/islamic-website/index-page/src/lib/board-members-block/board-members-block.tsx
  libs/islamic-website/index-page/src/lib/hero-block/hero-block.tsx
  libs/islamic-website/shariah-page/src/lib/shariah-page/shariah-page.tsx
  libs/islamic-website/team-page/src/lib/team-page/team-page.tsx
  libs/islamic-website/ui-kit/src/lib/member-card/member-card.tsx
  libs/islamic-website/ui-kit/src/lib/member-modal-card/member-modal-card.tsx
  libs/islamic-website/ui-kit/src/lib/members-container/members-container.tsx
  libs/islamic-website/ui-kit/src/lib/new-member-card/new-member-card.tsx
  libs/islamic-website/ui-kit/src/lib/text/text.tsx
  tsconfig.base.json
Labels: enhancement, islamic-website

#398 fix(islamic-website): indonesian locale
  apps/islamic-website/app/[locale]/shariah/page.tsx
  apps/islamic-website/app/[locale]/whitepaper/page.tsx
  apps/islamic-website/components/burger-menu/burger-menu.tsx
  apps/islamic-website/components/header/header.tsx
  apps/islamic-website/messages/ar.json
  apps/islamic-website/messages/en.json
  apps/islamic-website/messages/id.json
  apps/islamic-website/middleware.ts
  apps/islamic-website/utils/get-fatwa-content.ts
  libs/islamic-website/forms/src/lib/subscribe-form/subscribe-form.tsx
  libs/islamic-website/shariah-page/src/lib/fatwa-block/fatwa-block.tsx
  libs/islamic-website/shariah-page/src/lib/sharia-page-mobile-nav/sharia-page-mobile-nav.tsx
  libs/islamic-website/shariah-page/src/lib/shariah-page/shariah-page.tsx
Labels: enhancement, islamic-website

#484 fix(staking-ui): staking stats mobile component
  libs/shell/index-page/src/lib/delegations-block/delegations-block.tsx
  libs/shell/index-page/src/lib/my-account-block/my-account-block.tsx
  libs/shell/index-page/src/lib/statistics-block/statistics-block.tsx
  libs/shell/ui-kit/src/components/header/header.tsx
  libs/staking/ui-kit/src/components/rewards-info/rewards-info.tsx
  libs/staking/ui-kit/src/components/staking-info/staking-info.tsx
  libs/staking/ui-kit/src/components/validator-status/validator-status.tsx
  libs/staking/ui-kit/src/components/validators-list/validators-list.tsx
  libs/staking/ui-kit/src/index.ts
  libs/staking/validator-details-page/src/components/delegate-modal/delegate-modal.tsx
  libs/staking/validator-details-page/src/components/redelegate-modal/redelegate-modal.tsx
  libs/staking/validator-details-page/src/components/validator-info/validator-info.tsx
  libs/staking/validator-list-page/src/components/staking-info/staking-info.tsx
  libs/staking/validator-list-page/src/components/staking-validator-list/staking-validator-list.tsx
  libs/staking/validator-list-page/src/components/validator-list-page/validator-list-page.tsx
Labels: enhancement, staking

#498 fix: broadcasted transaction error handling
  .vscode/settings.json
  libs/governance/proposal-details/src/components/proposal-details/proposal-details.tsx
  libs/shared/src/chains/get-chain-params.ts
  libs/shared/src/hooks/use-authz-actions/use-authz-actions.tsx
  libs/shared/src/hooks/use-proposal-actions/use-proposal-actions.ts
  libs/shared/src/hooks/use-staking-actions/use-staking-actions.ts
  libs/shared/src/providers/toaster.tsx
  libs/shell/authz-page/src/lib/authz-page/authz-page.tsx
Labels: enhancement, staking, governance, shell

#519 fix(haqq-website): wallet page iphone image
  libs/haqq-website/wallet-page/src/assets/images/wallet-iphone-screenshot.png
  libs/haqq-website/wallet-page/src/lib/hero-block/hero-block.tsx
  libs/haqq-website/wallet-page/src/lib/wallet-page.tsx
Labels: haqq-website

#529 chore(islamic-website, haqq-website): correct stat postfix
  libs/haqq-website/index-page/src/lib/statistics-block/statistics-block.tsx
  libs/islamic-website/index-page/src/lib/why-block/why-block.tsx
Labels: bug, haqq-website, islamic-website

#531 fix(islamic-website): marquee position
  libs/islamic-website/index-page/src/lib/index-page/index-page.tsx
Labels: bug, automerge, islamic-website
