Repository haqq-network/frontend, pull requests merged in 2023-07, with the labels that each got.

#204 fix: metamask signing
  apps/vesting/src/components/AccountDepositStatsWidget/AccountDepositStatsWidget.tsx
  apps/vesting/src/components/DepositStatsWidget/DepositStatsWidget.tsx
  apps/vesting/src/components/DepositWithdrawalList/DepositWithdrawalList.tsx
  apps/website/components/burger-menu/burger-menu.tsx
  libs/governance/proposal-details/src/components/proposal-details/proposal-details.tsx
  libs/shared/src/hooks/use-proposal-actions/use-proposal-actions.ts
  libs/shared/src/hooks/use-staking-actions/use-staking-actions.ts
  libs/shared/src/providers/cosmos-provider.tsx
  libs/shared/src/providers/theme-provider.tsx
  libs/shell/index-page/src/lib/chain-stats/chain-stats.tsx
  libs/shell/ui-kit/src/lib/icons/icons.tsx
  libs/shell/ui-kit/src/lib/modal-input/modal-input.tsx
  libs/shell/ui-kit/src/lib/modal/modal.tsx
  libs/shell/ui-kit/src/lib/proposal-period-timer/proposal-period-timer.tsx
  libs/staking/validator-details-page/src/components/delegate-modal/delegate-modal.tsx
  libs/staking/validator-details-page/src/components/validator-info/validator-info.tsx
  libs/staking/validator-list-page/src/components/staking-validator-list/staking-validator-list.tsx
  libs/website/forms/src/lib/contact-form/contact-form.tsx
  libs/website/forms/src/lib/hooked-form-input/hooked-form-input.tsx
  libs/website/forms/src/lib/hooked-form-textarea/hooked-form-textarea.tsx
  libs/website/forms/src/lib/subscribe-form/subscribe-form.tsx
  libs/website/index-page/src/lib/hero-block/hero-block.tsx
  libs/website/index-page/src/lib/statistics-block/statistics-block.tsx
  libs/website/ui-kit/src/lib/input/input.tsx
  libs/website/ui-kit/src/lib/textarea/textarea.tsx
  module-federation.config.js
  package.json
  yarn.lock
Labels: bug, staking, governance, shell

#210 fix: vesting wallet connect
  apps/staking/src/app/app-wrapper.tsx
  apps/vesting/src/OnboardingContainer.tsx
  apps/vesting/src/components/modals/SelectWalletModal.tsx
  libs/shared/src/providers/wagmi-provider.tsx
  libs/shared/src/providers/wallet-provider.tsx
  libs/shell/ui-kit/src/lib/select-wallet-modal/select-wallet-modal.tsx
  module-federation.config.js
  package.json
  yarn.lock
Labels: bug, vesting

#215 chore(shell, staking): correct misspelling words
  libs/shell/ui-kit/src/lib/my-account-block-desktop/my-account-block-desktop.tsx
  libs/shell/ui-kit/src/lib/my-account-block-mobile/my-account-block-mobile.tsx
  libs/staking/ui-kit/src/components/rewards-info/rewards-info.tsx
  libs/staking/validator-list-page/src/components/staking-info/staking-info.tsx
Labels: bug, staking, shell

#214 feat(website): add islamic coin button & text to hero block
  libs/website/index-page/src/lib/hero-block/hero-block.tsx
Labels: enhancement, haqq-website

#216 chore(deps): upgrade nx
  libs/shell/ui-kit/.storybook/tsconfig.json
  libs/shell/ui-kit/tsconfig.json
  libs/shell/ui-kit/tsconfig.storybook.json
  libs/website/ui-kit/.storybook/tsconfig.json
  libs/website/ui-kit/tsconfig.json
  libs/website/ui-kit/tsconfig.storybook.json
  nx.json
  package.json
  yarn.lock
Labels: dependencies

#218 fix: add islamic logo to header
  apps/website/components/footer/footer.tsx
  apps/website/components/header/header.tsx
  libs/website/index-page/src/lib/hero-block/hero-block.tsx
  libs/website/wallet-page/src/lib/wallet-page/wallet-page.tsx
Labels: enhancement, haqq-website

#226 fix: website header sizes
  apps/website/components/burger-menu/burger-menu.tsx
  apps/website/components/header/header.tsx
  apps/website/pages/_app.tsx
  libs/website/index-page/src/lib/hero-block/hero-block.tsx
Labels: bug, haqq-website

#230 fix(website): media kit assets
  apps/website/public/assets/media-kit/haqq-sign.png
  apps/website/public/assets/media-kit/media-kit.zip
  libs/website/brand-assets-page/src/lib/title-block/title-block.tsx
Labels: bug, haqq-website

#232 chore(website): correct path to download brand assets pack
  libs/website/brand-assets-page/src/lib/title-block/title-block.tsx
Labels: bug, haqq-website

#233 fix(website): add isPublished flag in blog page & add check on post page
  apps/website/pages/blog/[slug].tsx
  apps/website/pages/blog/index.tsx
Labels: enhancement, haqq-website

#237 fix(shell): add select chain button to mobile menu
  apps/governance/src/app/app-wrapper.tsx
  apps/shell/src/app/app-wrapper.tsx
  apps/staking/src/app/app-wrapper.tsx
  apps/website/components/header/header.tsx
Labels: bug, ui, shell

#217 fix(vesting): new deposit withdrawal list item layout
  apps/vesting/src/components/DepositWithdrawalList/DepositWithdrawalList.tsx
Labels: enhancement, vesting

#245 chore(shell): fix typos
  libs/shell/ui-kit/src/lib/my-account-block-desktop/my-account-block-desktop.tsx
  libs/shell/ui-kit/src/lib/my-account-block-mobile/my-account-block-mobile.tsx
  libs/staking/ui-kit/src/components/rewards-info/rewards-info.tsx
  libs/staking/validator-list-page/src/components/staking-info/staking-info.tsx
Labels: bug, staking, shell

#190 feat(islamic-website): bootstrap app for islamic coin website
  apps/islamic-website-e2e/.eslintrc.json
  apps/islamic-website-e2e/cypress.config.ts
  apps/islamic-website-e2e/project.json
  apps/islamic-website-e2e/src/e2e/app.cy.ts
  apps/islamic-website-e2e/src/fixtures/example.json
  apps/islamic-website-e2e/src/support/app.po.ts
  apps/islamic-website-e2e/src/support/commands.ts
  apps/islamic-website-e2e/src/support/e2e.ts
  apps/islamic-website-e2e/tsconfig.json
  apps/islamic-website/.eslintrc.json
  apps/islamic-website/app/api/hello/route.ts
  apps/islamic-website/app/global.css
  apps/islamic-website/app/layout.tsx
  apps/islamic-website/app/page.module.css
  apps/islamic-website/app/page.tsx
  apps/islamic-website/index.d.ts
  apps/islamic-website/jest.config.ts
  apps/islamic-website/next-env.d.ts
  apps/islamic-website/next.config.js
  apps/islamic-website/project.json
  apps/islamic-website/public/.gitkeep
  apps/islamic-website/public/favicon.ico
  apps/islamic-website/tsconfig.json
  apps/islamic-website/tsconfig.spec.json
  libs/islamic-website/ui-kit/.babelrc
  libs/islamic-website/ui-kit/.eslintrc.json
  libs/islamic-website/ui-kit/README.md
  libs/islamic-website/ui-kit/jest.config.ts
  libs/islamic-website/ui-kit/project.json
  libs/islamic-website/ui-kit/src/index.ts
  libs/islamic-website/ui-kit/src/lib/islamic-website-ui-kit.module.css
  libs/islamic-website/ui-kit/src/lib/islamic-website-ui-kit.spec.tsx
  libs/islamic-website/ui-kit/src/lib/islamic-website-ui-kit.tsx
  libs/islamic-website/ui-kit/tsconfig.json
  libs/islamic-website/ui-kit/tsconfig.lib.json
  libs/islamic-website/ui-kit/tsconfig.spec.json
  package.json
  tsconfig.base.json
Labels: enhancement, islamic-website

#247 feat: get pubkey from blockchain
  libs/shared/src/providers/cosmos-provider.tsx
Labels: enhancement, staking, governance, shell

#250 fix(staking): prevent anchor save in browser history
  libs/governance/proposal-details/src/components/proposal-details/proposal-details.tsx
  libs/staking/validator-details-page/src/components/validator-info/validator-info.tsx
Labels: bug, staking

#244 feat(shell): filter active validators
  libs/governance/proposal-details/src/components/parameter-change-proposal/parameter-change-proposal.tsx
  libs/governance/proposal-details/src/components/proposal-details/proposal-details.tsx
  libs/governance/proposal-details/src/components/software-upgrade-proposal/software-upgrade-proposal.tsx
  libs/shell/index-page/src/lib/delegations-block/delegations-block.tsx
  libs/shell/index-page/src/lib/my-account-block/my-account-block.tsx
  libs/shell/index-page/src/lib/proposal-list-block/proposal-list-block.tsx
  libs/shell/ui-kit/src/index.ts
  libs/shell/ui-kit/src/lib/checkbox/checkbox.module.css
  libs/shell/ui-kit/src/lib/checkbox/checkbox.stories.tsx
  libs/shell/ui-kit/src/lib/checkbox/checkbox.tsx
  libs/shell/ui-kit/src/lib/my-account-block-desktop/my-account-block-desktop.tsx
  libs/shell/ui-kit/src/lib/my-account-block-mobile/my-account-block-mobile.tsx
  libs/shell/ui-kit/src/lib/validator-block-mobile/validator-block-mobile.tsx
  libs/staking/ui-kit/src/components/validator-list-item/validator-list-item.tsx
  libs/staking/ui-kit/src/components/validators-list/validators-list.tsx
  libs/staking/validator-details-page/src/components/validator-info/validator-info.tsx
  libs/staking/validator-list-page/src/components/staking-info/staking-info.tsx
  libs/staking/validator-list-page/src/components/staking-validator-list/staking-validator-list.tsx
Labels: enhancement, staking

#257 fix(staking): correct validator fee in delegate modal
  libs/staking/validator-details-page/src/components/delegate-modal/delegate-modal.tsx
  libs/staking/validator-details-page/src/components/validator-info/validator-info.tsx
Labels: bug, staking

#258 fix(shell): correct number of total validators
  libs/shell/index-page/src/lib/statistics-block/statistics-block.tsx
Labels: bug, shell

#259 feat(haqq-website): sendgrid integration
  .env.example
  apps/website/pages/api/sendgrid.ts
  libs/website/forms/src/lib/subscribe-form/subscribe-form.tsx
  package.json
  yarn.lock
Labels: enhancement, haqq-website

#260 feat(haqq-website): add google analytics script
  .env.example
  apps/website/pages/_document.tsx
Labels: enhancement, haqq-website
