Repository haqq-network/frontend, pull requests merged in 2023-12, with the labels that each got.

#551 feat(islamic-website): academy preview page
  apps/islamic-website/app/[locale]/academy/page.tsx
  apps/islamic-website/public/assets/images/academy/haqq-academy-preview-1.webp
  libs/islamic-website/academy-page/src/index.ts
  libs/islamic-website/academy-page/src/lib/academy-preview-page/academy-preview-page.module.css
  libs/islamic-website/academy-page/src/lib/academy-preview-page/academy-preview-page.tsx
Labels: enhancement, islamic-website

#521 feat(haqq-website): audits page
  apps/haqq-website/app/(main)/audits/page.tsx
  apps/haqq-website/components/footer/footer.tsx
  apps/haqq-website/public/assets/audits/haqq-backend-webapp-pentest-report.pdf
  apps/haqq-website/public/assets/audits/haqq-social-smart-contract-security-assessment.pdf
  apps/haqq-website/public/assets/audits/haqq-vesting-cosmos-security.pdf
  apps/haqq-website/public/fake.txt
  apps/haqq-website/styles/global.css
  libs/haqq-website/audits-page/.babelrc
  libs/haqq-website/audits-page/.eslintrc.json
  libs/haqq-website/audits-page/README.md
  libs/haqq-website/audits-page/jest.config.ts
  libs/haqq-website/audits-page/project.json
  libs/haqq-website/audits-page/src/assets/images/halborn-logo.svg
  libs/haqq-website/audits-page/src/assets/images/lines.svg
  libs/haqq-website/audits-page/src/index.ts
  libs/haqq-website/audits-page/src/lib/audits-page.tsx
  libs/haqq-website/audits-page/tsconfig.json
  libs/haqq-website/audits-page/tsconfig.lib.json
  libs/haqq-website/audits-page/tsconfig.spec.json
  tsconfig.base.json
Labels: enhancement, automerge, haqq-website

#556 feat(islamic-website): academy page preview & modules
  apps/islamic-website/app/[locale]/academy/lessons/[moduleIndex]/[lessonIndex]/page.tsx
  apps/islamic-website/messages/ar.json
  apps/islamic-website/messages/en.json
  apps/islamic-website/messages/id.json
  libs/islamic-website/academy-page/src/components/lessons/lessons-block.tsx
  libs/islamic-website/academy-page/src/components/lessons/modules.json
  libs/islamic-website/academy-page/src/index.ts
  libs/islamic-website/academy-page/src/lib/academy-preview-page/academy-preview-page.tsx
  libs/islamic-website/academy-page/src/lib/modules-page/modules-page.tsx
  libs/islamic-website/academy-page/src/lib/modules-page/types.ts
  libs/islamic-website/academy-page/tsconfig.json
  libs/islamic-website/forms/src/lib/subscribe-form/subscribe-form.tsx
  libs/islamic-website/ui-kit/src/index.ts
  libs/islamic-website/ui-kit/src/lib/spinner-loader/spinner-loader.tsx
  libs/islamic-website/ui-kit/src/lib/text/text.tsx
  libs/shared/src/hooks/use-is-mobile/use-is-mobile.ts
  libs/shared/src/hooks/use-local-storage/use-local-storage.ts
  libs/shared/src/index.ts
Labels: enhancement, automerge, islamic-website

#564 Merge dev into prod
  apps/islamic-website/app/[locale]/academy/lessons/[moduleIndex]/[lessonIndex]/page.tsx
  apps/islamic-website/messages/ar.json
  apps/islamic-website/messages/en.json
  apps/islamic-website/messages/id.json
  libs/islamic-website/academy-page/src/components/lessons/lessons-block.tsx
  libs/islamic-website/academy-page/src/components/lessons/modules.json
  libs/islamic-website/academy-page/src/index.ts
  libs/islamic-website/academy-page/src/lib/academy-preview-page/academy-preview-page.tsx
  libs/islamic-website/academy-page/src/lib/modules-page/modules-page.tsx
  libs/islamic-website/academy-page/src/lib/modules-page/types.ts
  libs/islamic-website/academy-page/tsconfig.json
  libs/islamic-website/forms/src/lib/subscribe-form/subscribe-form.tsx
  libs/islamic-website/ui-kit/src/index.ts
  libs/islamic-website/ui-kit/src/lib/spinner-loader/spinner-loader.tsx
  libs/islamic-website/ui-kit/src/lib/text/text.tsx
  libs/shared/src/hooks/use-is-mobile/use-is-mobile.ts
  libs/shared/src/hooks/use-local-storage/use-local-storage.ts
  libs/shared/src/index.ts
Labels: automerge

#565 chore(islamic-website): correct time
  libs/islamic-website/academy-page/src/lib/academy-preview-page/academy-preview-page.tsx
Labels: automerge

#572 feat(islamic-website): validator page
  apps/islamic-website/app/[locale]/validators/page.tsx
  libs/islamic-website/validators-page/.babelrc
  libs/islamic-website/validators-page/.eslintrc.json
  libs/islamic-website/validators-page/README.md
  libs/islamic-website/validators-page/jest.config.ts
  libs/islamic-website/validators-page/project.json
  libs/islamic-website/validators-page/src/index.ts
  libs/islamic-website/validators-page/src/lib/validators-page/validators-page.tsx
  libs/islamic-website/validators-page/tsconfig.json
  libs/islamic-website/validators-page/tsconfig.lib.json
  libs/islamic-website/validators-page/tsconfig.spec.json
  tsconfig.base.json
Labels: enhancement, automerge, islamic-website

#576 feat(islamic-website): validators page menu item
  apps/islamic-website/components/burger-menu/burger-menu.tsx
  apps/islamic-website/components/header/header.tsx
  apps/islamic-website/messages/ar.json
  apps/islamic-website/messages/en.json
  apps/islamic-website/messages/id.json
  libs/islamic-website/ui-kit/src/lib/icons/header-icons/cube-icon.tsx
  libs/islamic-website/ui-kit/src/lib/icons/header-icons/index.ts
Labels: automerge, islamic-website

#574 feat(haqq-website): validators page
  apps/haqq-website/app/(main)/validators/page.tsx
  apps/haqq-website/components/footer/footer.tsx
  apps/haqq-website/tailwind.config.js
  libs/haqq-website/ui-kit/src/lib/text/text.tsx
  libs/haqq-website/validator-program-page/.babelrc
  libs/haqq-website/validator-program-page/.eslintrc.json
  libs/haqq-website/validator-program-page/README.md
  libs/haqq-website/validator-program-page/jest.config.ts
  libs/haqq-website/validator-program-page/project.json
  libs/haqq-website/validator-program-page/src/index.ts
  libs/haqq-website/validator-program-page/src/lib/icons/icons.tsx
  libs/haqq-website/validator-program-page/src/lib/validator-program-page/validator-program-page.tsx
  libs/haqq-website/validator-program-page/tsconfig.json
  libs/haqq-website/validator-program-page/tsconfig.lib.json
  libs/haqq-website/validator-program-page/tsconfig.spec.json
  libs/islamic-website/ui-kit/src/lib/text/text.tsx
  tsconfig.base.json
Labels: enhancement, automerge, haqq-website

#578 release
  libs/islamic-website/academy-page/src/components/lessons/lessons-block.tsx
  libs/islamic-website/academy-page/src/lib/academy-preview-page/academy-preview-page.tsx
Labels: automerge

#581 fix(governance): correct voting status text
  libs/shell/ui-kit/src/components/proposal-vote-progress/proposal-vote-progress.tsx
Labels: bug, governance

#582 fix(governance): proposal page link text overflow
  libs/governance/proposal-details/src/components/proposal-details/proposal-details.tsx
Labels: bug, governance

#580 fix(haqq-website): add contact us block to validators page
  libs/haqq-website/validator-program-page/src/lib/assets/images/bg-lines.svg
  libs/haqq-website/validator-program-page/src/lib/assets/images/join-section-lines.svg
  libs/haqq-website/validator-program-page/src/lib/validator-program-page/validator-program-page.tsx
Labels: automerge, haqq-website

#587 feat(haqq-ui-kit): wrap markdown headings with anchor link
  libs/haqq-website/ui-kit/src/lib/markdown-text/markdown-text.tsx
Labels: automerge, haqq-website, improvment

#590 release
  apps/haqq-website/next.config.js
  apps/islamic-website/components/header/header.tsx
  libs/haqq-website/ui-kit/src/lib/markdown-text/markdown-text.tsx
  libs/haqq-website/validator-program-page/src/lib/assets/images/bg-lines.svg
  libs/haqq-website/validator-program-page/src/lib/assets/images/join-section-lines.svg
  libs/haqq-website/validator-program-page/src/lib/validator-program-page/validator-program-page.tsx
  package.json
  yarn.lock
Labels: automerge

#588 fix(haqq-website): hydration main page
  libs/haqq-website/ui-kit/src/lib/text/text.tsx
Labels: automerge, haqq-website

#592 feat(islamic-website): markdown anchors
  libs/islamic-website/ui-kit/src/lib/markdown-text/markdown-text.tsx
Labels: enhancement, automerge, islamic-website

#593 fix: locale switch
  apps/islamic-website/app/[locale]/layout.tsx
  package.json
  yarn.lock
Labels: automerge

#598 feat: add sentry to islamic website
  .env.example
  .gitignore
  apps/islamic-website/app/[locale]/sentry-test/page.tsx
  apps/islamic-website/app/api/sentry-test/route.ts
  apps/islamic-website/app/error.tsx
  apps/islamic-website/app/global-error.tsx
  apps/islamic-website/next.config.js
  apps/islamic-website/sentry.client.config.js
  apps/islamic-website/sentry.edge.config.js
  apps/islamic-website/sentry.server.config.js
  package.json
  yarn.lock
Labels: enhancement, automerge

#599 fix(islamic-website): module 3 unlock, preview module 4
  libs/islamic-website/academy-page/src/components/lessons/modules.json
  libs/islamic-website/academy-page/src/lib/academy-preview-page/academy-preview-page.tsx
Labels: automerge

#607 feat: wrong network modal
  apps/governance/src/app/app-wrapper.tsx
  apps/shell/src/app/app-wrapper.tsx
  apps/staking/src/app/app-wrapper.tsx
  libs/governance/proposal-details/src/components/proposal-details/proposal-details.tsx
  libs/governance/proposal-list/src/components/proposal-list/proposal-list.tsx
  libs/shared/src/chains/chains.ts
  libs/shared/src/hooks/use-network-aware-action/use-network-aware-action.tsx
  libs/shared/src/index.ts
  libs/shared/src/providers/wagmi-provider.tsx
  libs/shared/src/providers/wallet-provider.tsx
  libs/shell/authz-page/src/lib/authz-page/authz-page.tsx
  libs/shell/index-page/src/lib/account-info/account-info.tsx
  libs/shell/index-page/src/lib/my-account-block/my-account-block.tsx
  libs/shell/index-page/src/lib/statistics-block/statistics-block.tsx
  libs/shell/ui-kit/src/components/my-account-block-desktop/my-account-block-desktop.tsx
  libs/shell/ui-kit/src/components/my-account-block-mobile/my-account-block-mobile.tsx
  libs/shell/ui-kit/src/components/select-chain-button/select-chain-button.tsx
  libs/shell/ui-kit/src/components/select-chain-modal/select-chain-modal.stories.tsx
  libs/shell/ui-kit/src/components/select-chain-modal/select-chain-modal.tsx
  libs/shell/ui-kit/src/index.ts
  libs/staking/ui-kit/src/components/staking-stats/staking-stats.tsx
  libs/staking/validator-details-page/src/components/undelegate-modal/undelegate-modal.tsx
  libs/staking/validator-details-page/src/components/validator-info/validator-info.tsx
  libs/staking/validator-list-page/src/components/staking-info/staking-info.tsx
Labels: enhancement, automerge, shell

#609 chore(deps): deps upgrade
  package.json
  yarn.lock
Labels: automerge

#611 fix(islamic-website): academy lessons pages metadata
  apps/islamic-website/app/[locale]/academy/lessons/[moduleIndex]/[lessonIndex]/page.tsx
Labels: bug, automerge, islamic-website

#608 chore(deps): upgrade nx
  package.json
  yarn.lock
Labels: dependencies, automerge

#600 feat(haqq-network, islamic-website): add robots.txt & sitemap.xml
  apps/haqq-website/app/robots.ts
  apps/haqq-website/app/sitemap.ts
  apps/haqq-website/constants.ts
  apps/haqq-website/public/robots.txt
  apps/islamic-website/app/robots.ts
  apps/islamic-website/app/sitemap.ts
  apps/islamic-website/constants.ts
  libs/islamic-website/academy-page/src/components/lessons/lessons-block.tsx
  libs/islamic-website/academy-page/src/components/lessons/modules.json
  libs/islamic-website/academy-page/src/index.ts
  libs/islamic-website/academy-page/src/lib/academy-preview-page/academy-preview-page.tsx
  libs/islamic-website/academy-page/src/lib/modules-page/modules.ts
  libs/islamic-website/academy-page/src/lib/modules-page/types.ts
Labels: enhancement, automerge, haqq-website, islamic-website

#612 fix(data-access): get data methods
  libs/data-access/falconer/src/lib/islamic/get-islamic-home-page-data.ts
  libs/data-access/falconer/src/lib/islamic/get-islamic-members.ts
  libs/data-access/falconer/src/lib/islamic/get-islamic-news.ts
  libs/data-access/falconer/src/lib/islamic/get-islamic-privacy-policy.ts
  libs/data-access/falconer/src/lib/islamic/get-islamic-whitepaper.ts
Labels: automerge, data-access
