Repository haqq-network/frontend, pull requests merged in 2024-01, with the labels that each got.

#606 fix(islamic-website): academy module 4
  libs/islamic-website/academy-page/src/components/lessons/modules.json
  libs/islamic-website/academy-page/src/lib/academy-preview-page/academy-preview-page.tsx
  libs/islamic-website/academy-page/src/lib/modules-page/modules.ts
  package.json
  yarn.lock
Labels: islamic-website

#621 Revert "Merge pull request #606 from haqq-network/hqw-236-to-be-updat…
  libs/islamic-website/academy-page/src/components/lessons/modules.json
  libs/islamic-website/academy-page/src/lib/academy-preview-page/academy-preview-page.tsx
  libs/islamic-website/academy-page/src/lib/modules-page/modules.ts
  package.json
  yarn.lock
Labels: automerge

#629 fix(islamic-website): remove links from locked academy lessons
  libs/islamic-website/academy-page/src/lib/academy-preview-page/academy-preview-page.tsx
Labels: islamic-website

#630 fix(islamic-website): academy bg image move to components
  apps/islamic-website/components/header/header.tsx
  libs/haqq-website/wallet-page/src/lib/wallet-download-button/wallet-download-button.tsx
  libs/islamic-website/academy-page/src/assets/images/academy-bg-image.svg
  libs/islamic-website/academy-page/src/lib/academy-preview-page/academy-preview-page.tsx
  libs/islamic-website/academy-page/src/lib/lessons/lessons-block.tsx
  libs/islamic-website/academy-page/src/lib/lessons/modules.json
  libs/islamic-website/academy-page/src/lib/modules-page/modules-page.tsx
  libs/islamic-website/build-page/src/lib/build-page/build-page.tsx
  libs/islamic-website/index-page/src/lib/learn-and-grow-block/learn-and-grow-block.tsx
  libs/islamic-website/index-page/src/lib/marquee/marquee.tsx
  libs/islamic-website/mission-page/src/lib/mission-page/mission-page.tsx
  libs/islamic-website/shariah-page/src/lib/fatwa-block/fatwa-block.tsx
  libs/islamic-website/ui-kit/src/lib/members-container/members-container.tsx
Labels: islamic-website

#636 fix(islamic-website): academy open fifth module, preview sixth
  libs/islamic-website/academy-page/src/lib/lessons/modules.json
  libs/islamic-website/academy-page/src/lib/modules-page/modules.ts
Labels: automerge, islamic-website

#635 fix(islamic-website): rtl arrow translate direction
  libs/islamic-website/build-page/src/lib/build-page/build-page.tsx
Labels: islamic-website

#637 fix(islamic-website): correct initial render lessons page
  libs/islamic-website/academy-page/src/lib/lessons/lessons-block.tsx
Labels: automerge, islamic-website

#641 chore(ci): change runners for vercel build
  .github/workflows/preview-vercel-faucet.yml
  .github/workflows/preview-vercel-governance.yml
  .github/workflows/preview-vercel-haqq-website.yml
  .github/workflows/preview-vercel-islamic-website.yml
  .github/workflows/preview-vercel-shell.yml
  .github/workflows/preview-vercel-staking.yml
  .github/workflows/preview-vercel-vesting.yml
  .github/workflows/previrew-vercel-storybook.yml
  .github/workflows/production-vercel-faucet.yml
  .github/workflows/production-vercel-governance.yml
  .github/workflows/production-vercel-haqq-website.yml
  .github/workflows/production-vercel-islamic-website.yml
  .github/workflows/production-vercel-shell.yml
  .github/workflows/production-vercel-staking.yml
  .github/workflows/production-vercel-storybook.yml
  .github/workflows/production-vercel-vesting.yml
Labels: automerge

#644 chore(islamic-website): correct 5.3 lesson video id
  libs/islamic-website/academy-page/src/lib/lessons/modules.json
  libs/islamic-website/academy-page/src/lib/modules-page/modules.ts
Labels: bug, islamic-website

#646 fix(islamic-website): add haqq brand assets footer link
  apps/islamic-website/components/footer/footer.tsx
  apps/islamic-website/messages/ar.json
  apps/islamic-website/messages/en.json
  apps/islamic-website/messages/id.json
Labels: islamic-website

#647 fix(haqq-website): sort blog post correctly
  apps/haqq-website/utils/get-blog-posts.ts
Labels: haqq-website

#654 chore(islamic-website): correct 6.2 academy lesson title
  libs/islamic-website/academy-page/src/lib/lessons/modules.json
Labels: automerge, islamic-website
