Repository haqq-network/frontend, pull requests merged in 2024-04, with the labels that each got.

#770 fix(shell): unstick my account block on mobile staking page
  libs/shell/staking/src/lib/components/staking-info.tsx
Labels: bug

#767 feat: identify user who open islamic or haqq website in posthog
  apps/haqq-website/app/layout.tsx
  apps/haqq-website/components/identify-wallet-users.tsx
  apps/haqq-website/components/posthog-page-view.tsx
  apps/islamic-website/app/[locale]/layout.tsx
  apps/islamic-website/components/identify-wallet-users.tsx
  apps/islamic-website/components/posthog-page-view.tsx
  apps/shell/src/components/app-wrapper.tsx
Labels: enhancement

#777 fix(islamic-website): correct dex pair styles
  libs/islamic-website/markets-page/src/assets/images/coin-logos/dym.svg
  libs/islamic-website/markets-page/src/lib/dex-pair/dex-pair.tsx
Labels: bug, islamic-website

#781 fix(islamic-website): temporary disable localization
  apps/islamic-website/components/burger-menu/burger-menu.tsx
  apps/islamic-website/components/header/header.tsx
  apps/islamic-website/constants.ts
Labels: islamic-website

#785 fix(islamic-ui-kit): add markdown prose code style
  libs/islamic-website/ui-kit/src/lib/markdown-text/markdown-text.tsx
Labels: islamic-website

#795 feat(islamic-website): add uniswap pools to markets page
  libs/islamic-website/markets-page/src/assets/images/uniswap.svg
  libs/islamic-website/markets-page/src/lib/markets-page/markets-page.tsx
Labels: islamic-website

#796 fix(islamic-website): add total & circulating supplies to main page
  apps/islamic-website/messages/en.json
  apps/islamic-website/utils/get-chain-stats-data.ts
  libs/data-access/falconer/src/lib/haqq/get-haqq-chain-stats.ts
  libs/islamic-website/index-page/src/lib/why-block/why-block.tsx
Labels: islamic-website

#802 fix(islamic-website): shariah page mobile nav titles
  libs/islamic-website/shariah-page/src/lib/shariah-page/shariah-page.tsx
Labels: bug, islamic-website
